
.grid-body {
    background-color:  rgb(238, 253, 255);
    border: 1.5px solid rgb(247, 141, 3);
}

.grid-container-item {
    background-color: rgb(79, 149, 177);
    display: grid;

}


.section {
    text-align: center;
    color:rgb(244, 173, 80);

}

/*Styling for the main title H1 tag in html file*/
.title {
    text-align: center;
    color:rgb(244, 173, 80);
    
}

.containerFlex {
    background: rgb(79, 149, 177);
    height: 270px;
    display: flex;
    align-items: top;
}


.container-item {
    margin: 15px 110px;
    inline-size: 30px;
    color: rgb(239, 183, 109);

}


